body {
   padding-top: 40px;
   padding-bottom: 40px;
   background-color: #eee;
 }
 .fullscreen_bg {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-size: cover;
   background-position: 50% 50%;
   background-image: url('https://www.squiz.net/__public/Systems/Perspective/FileCache/1-32000/465/prop/header-bg-image.jpg?t=1472431690');
 }
 .form-signin {
   max-width: 280px;
   padding: 15px;
   margin: 0 auto;
 }
 .form-signin .form-signin-heading, .form-signin {
   margin-bottom: 20px; font-size: 14px;
 }
 .form-signin .form-control {
   position: relative;
   font-size: 16px;
   height: auto;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 .form-signin .form-control:focus {
   z-index: 2;
 }
 .form-signin input[type="text"] {
   margin-bottom: -1px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: none;
   border-left-style: solid;
   border-color: #000;
 }
 .form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border-top-style: none;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-color: #000;
 }
 .form-signin-heading {
   color: #028484;
   text-align: center;
   text-shadow: 0 4px 4px rgba(0,0,0,0.5);
 }
   .boton_aceptar{
     text-decoration: none;
     padding: 5px;
     font-weight: 600;
     font-size: 20px;
     color: #ffffff;
     background-color: #028484;
     border-radius: 6px;
     border: 2px solid #5AC4C4;
   }
   .boton_aceptar:hover{
     color: #028484;
     background-color: #ffffff;
   }
   app-drawer-layout:not([narrow]) [drawer-toggle] {
     display: none;

   }

   app-header {
     color: #fff;
     background-color: #028484;
   }

   app-header paper-icon-button {
     paper-icon-button-ink-color: white;
   }

   .drawer-list {
     margin: 0 40px;
     background-color: #028484;
   }

   .drawer-list a {
     display: block;
     padding: 0 20px;
     text-decoration: none;
     color: var(--app-secondary-color);
     line-height: 40px;
   }

   .drawer-list a.iron-selected {
     color: #028484;
     font-weight: bold;
   }

   ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 width: 200px;
 background-color:  white;
}

li a {
 display: block;
 color: #000;
 padding: 8px 0 8px 16px;
 text-decoration: none;
}

li a.active {
 background-color: #028484;
 color: white;
}

li a:hover:not(.active) {
 background-color: #028484;
 color: white;
}

p.txtcentrado {
text-align:right;
}

.right {
  float: right;
  width: 300px;
