<link href="../../assets/css/mybanck.css" rel="stylesheet">

<dom-module  id="usuario-entrada">
  <template>
    <style>
      :host {
        display: block;
      }

      </style>

<app-location route="{{route}}"></app-location>
<app-route id="enrutador"
  route="{{route}}"
  pattern="/:page"
  data="{{data}}"
  tail="{{tail}}">
</app-route>



<table hidden$="{{noCargados}}">
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<form class="form-signin">
		<h1 class="form-signin-heading ">  My Bank</h1>
    <div>
      <input type="text"  id="usuario" class="form" placeholder="Usuario" size="23" value="{{usuario::input}}"  name="usuario">
    </div>
    <div>
      <input type="password" placeholder="Contraseña" id="password"  size="23" value="{{password::input}}" name="password">
    </div>


    <div>
    <button class="boton_aceptar "  on-click="loginUsuario"  type="submit">Entrar</button>
    <button class="boton_aceptar "  on-click="altaUsuario"  type="submit">Nuevo usuario</button>
    </div>
    <div style="color:#FF0000;"><label for="salida" >{{salida}}</label></div>

	</form>



  </ul>


</div>
</table>

  </template>

  <script>



    class UsuarioEntrada extends Polymer.Element {
      static get is() { return 'usuario-entrada'; }
      static get properties() {
        return {
          noCargados: {
            type: Boolean,
            value:false
          }
        };
      }
// Hacemos el Login del cliente
      loginUsuario(){
        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/login", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoUsuariomongo = {"login":this.usuario, "password":this.password};
        var body = JSON.stringify(nuevoUsuariomongo);
        request.send(body);
        this.respuesta=JSON.parse(request.responseText);
        this.salida= this.respuesta.mensaje;
        this.noCargados=this.respuesta.resultado;

     if   (this.noCargados == 0)
      {

        this.set('ruta.path', '/mybank');
        this.dispatchEvent(new CustomEvent('logged', {detail: {"usuario":this.usuario}}));

          this.logged = true;
      }
      else {

        this.set('ruta.path', '/mybank');
        this.logged = false;
      }


      }
// Cambiamos a la capa de Alta de cliente
      altaUsuario(){

        this.set('ruta.path', '/alta');

        this.dispatchEvent(new CustomEvent('alta', {detail: {"usuario":this.usuario}}));
        this.alta = true;

      }



    }



    window.customElements.define(UsuarioEntrada.is, UsuarioEntrada);

  </script>
</dom-module>
