<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/src/usuario-entrada/usuario-entrada.html">
<link rel="import" href="/src/alta-usuario/alta-usuario.html">
<link rel="import" href="/src/my-app/my-app.html">


<dom-module id="navegacion-app">
  <template>

    <app-location route="{{ruta}}"></app-location>
    <app-route route="{{ruta}}" pattern="/logged" data="{{datoRuta}}" tail="{{subruta}}"></app-route>
    <app-route route="{{ruta}}" pattern="/" data="{{datoRuta}}" tail="{{subruta}}"></app-route>
    <!-- iron-pages selects the view based on the active route -->

    <div hidden$="{{logged}}">

  <!-- Capa de Login de usuario -->
        <div hidden$="{{alta}}">
      <usuario-entrada id="lu" on-logged="gestionarLogged" on-alta="gestionaralta"></usuario-entrada>
      </div>
  <!-- Capa de alta de usuario -->
      <div hidden$="{{!alta}}">
      <alta-usuario id="au" on-logged="gestionarLogged" on-alta2="gestionarlogin"></alta-usuario>
    </div>
    </div>
  <!-- Capa de pantallas de aplicación -->
    <div hidden$="{{!logged}}">
      <my-app id="navega" on-salir="adios">></my-app>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NavegacionApp extends Polymer.Element {
      static get is() { return 'navegacion-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'navegacion-app'
          },
          ruta: {
            type: Object
          },
          usuario: {
              type: String,
                value: ""
            },
            password: {
                type: String,
                  value: ""
              },
          logged: {
            type: Boolean,
            value: false
          },
          alta: {
            type: Boolean,
            value: false
          }
        };
      }
//Hacemos login y mostramos la capa de navegación de datos de la aplicación
      gestionarLogged(e) {
        this.set('ruta.path', '/mybank');
        this.logged = true;

        this.$.navega.usuario= e.detail.usuario;
        this.$.navega.comunica = "https://api.mlab.com/api/1/databases/bdbanca/collections/seguros?apiKey=foY_VFeCH3fghOv4gW95qeSePv6kKEJf&q={'usuario':'"+e.detail.usuario+"'}";


      }
//Cambiamos a la capa de alta de usuario
      gestionaralta(e) {
        this.set('ruta.path', '/alta');
        this.alta = true;


      }
//Cambiamos a la capa de entrada de usuario
      gestionarlogin(e) {
        this.set('ruta.path', '/mybank');
        this.alta = false;


      }

//Salimos de la sesión del usuario
        adios(e) {

        this.$.lu.usuario="";
        this.$.lu.password="";
        this.$.lu.salida="";

        this.$.au.nombre="";
        this.$.au.apellidos="";
        this.$.au.email="";
        this.$.au.usuario="";
        this.$.au.password1="";
        this.$.au.password2="";

        this.set('ruta.path', '/mybank');
        this.alta = false;
        this.logged = false;


      }

    }

    window.customElements.define(NavegacionApp.is, NavegacionApp);
  </script>
</dom-module>
