<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link href="../../assets/css/mybanck.css" rel="stylesheet">
<dom-module id="alta-usuario">


  <template>


<app-location route="{{route}}"></app-location>
<app-route id="enrutador"
  route="{{route}}"
  pattern="/:page"
  data="{{data}}"
  tail="{{tail}}">
</app-route>



<table hidden$="{{noCargados}}">
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<form class="form-signin">
		<h1 class="form-signin-heading ">Hazte cliente de My Bank</h1>


<div>
Nombre :
</div>
<div>
<input type="text" id="Nombre" placeholder="Nombre" value="{{nombre::input}}"  name="nombre" size="34" maxlength="34" required=”required”>
</div>
<div>
Apellidos :
</div>
<div>
<input type="text"  id="Apellidos" placeholder="Apellidos" value="{{apellidos::input}}"  name="apellidos" size="34" maxlength="34" required=”required”>
</div>
<div>
Email :
</div>
<div>
<input type="email" id="Email" placeholder="Email" value="{{email::input}}"  name="email" size="34" maxlength="34" required=”required”>
</div>
<div>
Usuario :
</div>
<div>
<input type="text" id="usuario" placeholder="Usuario" value="{{usuario::input}}"  name="usuario" size="34" maxlength="34" required=”required”>
</div>
<div>
Nueva contraseña :
</div>
<div>
<input type="password" id="password1" placeholder="Contraseña" value="{{password1::input}}" name="password1" size="34" maxlength="34" required=”required”>
</div>
<div>
Repita Contraseña :
</div>
<div>
<input type="password" id="password2" placeholder="Repita Contraseña" value="{{password2::input}}" name="password2" size="34" maxlength="34" required=”required”>
</div>

    <div>
    <button class="boton_aceptar "  on-click="altaUsuario"  type="submit">Crear Usuario</button>
    <button class="boton_aceptar "  on-click="irlogin"  type="submit">Usuario existente</button>
    </div>
    <div style="color:#FF0000;"><label for="password" size="34"  >{{salida}}</label></div>

	</form>



  </ul>


</div>
</table>

  </template>



  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'alta-usuario'
          },
          nombre: {
            type: String,
              value: ""
          },
          usuario: {
              type: String,
                value: ""
            },
            email: {
                type: String,
                  value: ""
              },
              password1: {
                  type: String,
                    value: ""
                },
                password2: {
                    type: String,
                      value: ""
                  },
            apellidos: {
                type: String,
                  value: ""
              }
        };
      }
// Damos de alta al cliente
      altaUsuario(){

        if (this.nombre == "") {
        this.salida= "Rellene el campo nombre";
         } else if (this.apellidos == ""){
        this.salida= "Rellene el campo apellidos";
        } else if (this.email == ""){
       this.salida= "Rellene el campo email";
       } else if (this.usuario == ""){
        this.salida= "Rellene el campo usuario";
        } else if (this.password1 == ""){
       this.salida= "Rellene el campo contraseña 1";
         } else if (this.password2 == ""){
        this.salida= "Rellene el campo contraseña 2";
        } else{
        if (this.password1 == this.password2){

        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/alta", false);

        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        var nuevoUsuariomongo = {"nombre":this.nombre, "apellidos":this.apellidos ,"email":this.email , "usuario":this.usuario , "password":this.password1};
        var body = JSON.stringify(nuevoUsuariomongo);

        request.send(body);
        this.respuesta=JSON.parse(request.responseText);
        this.salida= this.respuesta.mensaje;

         this.anadircuenta();
          this.anadirtarjeta();
        console.log("Fin alta clienta");
        this.set('ruta.path', '/mybank');
        this.dispatchEvent(new CustomEvent('logged', {detail: {"usuario":this.usuario}}));
        }
        else {
        this.salida= "Diferente contraseña";

        }
      }

      }

// Creamos una nueva cuenta de bienvenida al nuevo cliente
    anadircuenta() {
       var request = new XMLHttpRequest();
       request.open("POST", "http://localhost:3000/altacu", false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var nuevacuenta={};
       nuevacuenta.usuario = this.usuario;
       nuevacuenta.alias = "Cuenta Nómina";
       nuevacuenta.cuenta = "ES8201826135810208554321";
       nuevacuenta.saldo = 0;
       var body = JSON.stringify(nuevacuenta);
       request.send(body);
       this.respuesta = request.responseText;

       this.salida= this.respuesta.mensaje;


   }
// Creamos una nueva tarjeta de bienvenida al nuevo cliente
   anadirtarjeta() {

      var request = new XMLHttpRequest();
      request.open("POST", "http://localhost:3000/altatar", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var nuevatarjeta={};
      nuevatarjeta.usuario = this.usuario;
      nuevatarjeta.tipo = "A tu ritmo";
      nuevatarjeta.pan = "4940197012345262";
      nuevatarjeta.limite = 1000;
      var body = JSON.stringify(nuevatarjeta);
      request.send(body);
      this.respuesta = request.responseText;

      this.salida= this.respuesta.mensaje;


  }
// Cambiamos a la capa de Login
  irlogin(){

    this.set('ruta.path', '/mybank');

    this.dispatchEvent(new CustomEvent('alta2', {detail: {"usuario":this.usuario}}));
    this.alta = true;

  }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
