
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<dom-module id="test-app-route">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>app eit</h1>
    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>
    <button on-tap="mostrarData">Data y tail a consola</button>


  </template>
  <script>
    Polymer({
      is: 'test-app-route',

      properties: {
        route: Object,
      },

      mostrarData: function() {
        console.log('Data:', this.data);
        console.log('Tail:', this.tail);
        console.log('Pattern:', this.pattern);
        console.log('Route:', this.route);
      },
      mostrarTail: function() {
      },
    });
  </script>
</dom-module>
