
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">


<!-- MyBanck CSS     -->
<link href="../../assets/css/mybanck.css" rel="stylesheet">
  <!-- Bootstrap core CSS     -->
  <link href="../../assets/css/paper-dashboard.css" rel="stylesheet"/>
  <!--  Fonts and icons     -->
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>





<link rel="lazy-import" href='my-cuentas.html'>
<link rel="lazy-import" href="my-tarjetas.html">
<link rel="lazy-import" href="my-tarjetasmov.html">
<link rel="lazy-import" href="my-cuentasmov.html">
<link rel="lazy-import" href="my-seguros.html">
<link rel="lazy-import" href="my-perfil.html">
<link rel="lazy-import" href="my-mybank.html">
<link rel="lazy-import" href="my-localizacion.html">


<dom-module id="my-app">
  <template>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>




    <app-drawer-layout fullbleed narrow="{{narrow}}" >
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" >
        <app-toolbar>

  <ul>
            <li>  <a class="active" name="mybank" href="[[rootPath]]mybank">My Bank </a></li>
</ul>

        </app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">

          <ul>

            <li><a name="cuentas" href="[[rootPath]]cuentas"><p>Mis cuentas</p></a></li>
            <li><a name="tarjetas" href="[[rootPath]]tarjetas"><p>Mis Tarjetas</p></a></li>
            <li><a name="seguros" href="[[rootPath]]seguros"><p>Mis Seguros</p></a></li>
            <li><a name="perfil" href="[[rootPath]]perfil"><p>Cambio Contraseña</p></a></li>
            <li><a name="localizacion" href="[[rootPath]]localizacion"><p>Donde estamos</p></a></li>
            <li><paper-button on-tap="salir"><a name="salir" href="[[rootPath]]mybank"><p>Salir</p></a></paper-button></li>

          </ul>


        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall" >
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>

            <iron-ajax
              auto
              id="cliente"
              url="http://localhost:3000/usuario"
              content-type="application/json"
              method="post"
              body ='{"usuario": "{{usuario}}"}'
              handle-as="json"
              auto=true
              last-response="{{cliente}}"

            ></iron-ajax>
            <template is="dom-repeat" items="[[cliente]]">

                    [[item.nombre]]  [[item.apellidos]]



            </template>
                    </app-toolbar>


        </app-header>



        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="global"
            role="main">
        <my-cuentas name="cuentas" usuario=[[usuario]] on-cuentam="gestionarCuentasd"></my-cuentas>
        <my-tarjetas name="tarjetas"  usuario=[[usuario]] on-cuentam="gestionarCuentasd"></my-tarjetas>
        <my-tarjetasmov name="tarjetasmov"  usuario=[[usuario]] pan=[[pan]]></my-tarjetasmov>
        <my-cuentasmov name="cuentasmov"  usuario=[[usuario]] cuenta=[[cuenta]]></my-cuentasmov>
        <my-seguros name="seguros"  usuario=[[usuario]] comunica=[[comunica]]></my-seguros>
        <my-perfil name="perfil"  usuario=[[usuario]]></my-perfil>
        <my-mybank name="mybank"  usuario=[[usuario]] comunica="[[comunica]]" on-cuentamd="gestionarCuentasd"></my-mybank>
        <my-localizacion name="localizacion"  usuario=[[usuario]]></my-localizacion>


        </iron-pages>

      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          usuario: {
              type: String
            },
            comunica: {
                type: String
              },
          routeData: Object,
          subroute: String,

          rootPath: String,

        };
      }



      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'cuentas' in that case.
        this.page = page || 'cuentas';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._mymybank.bind(this),
            true);
      }

      _mymybank() {
        this.page = 'mybank';
      }

// Generamos un evento para cambiar de cuenta o pan en la lista de movimientos
      gestionarCuentasd(e) {

      document.getElementsByName("cuentasmov")[0].cuenta= e.detail.cuenta;
      document.getElementsByName("tarjetasmov")[0].pan= e.detail.pan;

      }
// Generamos un evento para hacer logout
      salir(e) {
     console.log("salir");
      this.dispatchEvent(new CustomEvent('salir', {detail: {"salir":"si"}}));

      }

    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
