
<dom-module id="my-cuentas">
  <template>
<!-- Recuperamos las cuentas de node mongo-->
   <iron-ajax
        auto
        id="listacu"
        url="http://localhost:3000/cuentas"
        content-type="application/json"
        method="post"
        body ='{"usuario": "{{usuario}}"}'
        handle-as="json"
        auto=true
        last-response="{{recorrecuentas}}"
        loading="{{cargando}}"
      ></iron-ajax>

    <paper-spinner alt="Cargando las cuentas..." active="{{cargando}}"></paper-spinner>


<!-- Pintamos la lista de cuentas-->
<div class="col-md-12">
                     <div class="card card-plain">
                         <div class="header">
                             <h4 class="title">Listado de cuentas</h4>
                             <p class="category">Usuario: {{usuario}}  </p>
                         </div>
                         <div class="content table-responsive table-full-width">
                             <table class="table table-hover">
                                 <thead>
                                     <th>Nombre</th>
                                   <th>Cuenta</th>
                                   <th>Saldo en cuenta</th>

                                 </thead>
                                 <template is="dom-repeat" items="[[recorrecuentas]]">
                                 <tbody>
                                 <tr>
                                   <td>

                                     <paper-button on-tap="itemTapped"><a name="cumov"  href="[[rootPath]]cuentasmov">[[item.alias]]</a></paper-button>

                                   </td>
                                   <td>
                                      [[item.cuenta]]

                                   </td>
                                   <td>
                                     [[item.saldo]]€
                                   </td>
                                   </tr>
                               </tbody>
                               </template>
                             </table>

                         </div>
                     </div>
                 </div>

  </template>
  <script>
    Polymer({
      is: "my-cuentas",

// cuando pinchamos una cuenta lanzamos evento para recargar componente de movimientos de cuentas para refrescar información
      itemTapped: function(oEvent){

    this.dispatchEvent(new CustomEvent('cuentam', {detail: {"cuenta":oEvent.model.get('item.cuenta')}}));

}

    });
  </script>


</dom-module>
