<dom-module id="my-cuentasmov">

  <template is="movimientos">


<!-- Recuperamos los movimientos de cuentas de node mongo-->
   <iron-ajax
        auto
        id="movimientoscu"
        url="http://localhost:3000/cumov"
        content-type="application/json"
        method="post"
        body ='{"usuario": "{{usuario}}", "cuenta": "{{cuenta}}" }'
        handle-as="json"
        auto=true
        last-response="{{recorremocu}}"
        loading="{{cargando}}"
      ></iron-ajax>

    <paper-spinner alt="Cargando las cuentas..." active="{{cargando}}"></paper-spinner>

<!-- Pintamos la lista de datos -->
<div class="col-md-12">
                     <div class="card card-plain">
                         <div class="header">
                             <h4 class="title">Listado de movimientos de cuentas</h4>
                             <p class="category">Usuario: {{usuario}}</p>
                             <p class="category">Cuenta: {{cuenta}}</p>
                         </div>
                         <div class="content table-responsive table-full-width">
                             <table class="table table-hover">
                                 <thead>
                                      <th>Concepto</th>
                                       <th>Importe</th>
                                       <th>Fecha</th>

                                 </thead>
                                 <template is="dom-repeat" items="[[recorremocu]]">
                                 <tbody>
                                 <tr>
                                      <td>
                                         [[item.establecimiento]]
                                       </td>
                                       <td>
                                         [[item.importe]]€
                                       </td>
                                       <td>
                                         [[item.fecha]]
                                       </td>
                                   </tr>
                               </tbody>
                               </template>
                             </table>

                         </div>
                     </div>
                 </div>


  </template>
  <script>
    Polymer({
      is: "my-cuentasmov",


    });
  </script>


</dom-module>
