<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="my-localizacion">
  <template>

    <head>
      <script src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
      <style>
        google-map {
          height: 400px;
        }
      </style>
      </head>
    <body>
      <div>
        <br />
      </div>
      <div class="col-md-12">
                           <div class="card card-plain">
                               <div class="header">
                                   <h4 class="title">My Bank</h4>
                                   <p class="category">Primer banco en servicios On-Line</p>
                               </div>
                             </div>
                         </div>

      <google-map latitude="40.5" longitude="-3.6" zoom="12">
        <google-map-marker latitude="40.501372" longitude="-3.664370" title="La Vela BBVA">
          <h2>Ciudad de My Bank</h2>
          <p>
          La Vela My Bank
          </p>
          <p>
            <img src="https://www.reasonwhy.es/sites/default/files/la-vela-ReasonWhy.es_.jpg" alt="La Vela My Bank">
          </p>
        </google-map-marker>
      </google-map>
    </body>


  </template>
  <script>
    Polymer({
      is: "my-localizacion",

      properties: {
        cargando: Boolean,
        users: Array,
        usuario: {
          type: String,

        }
      },

    });
  </script>
</dom-module>
