
<link rel="import" href="my-cuentas.html" />
<link rel="import" href="my-tarjetas.html" />


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="my-mybank">
  <template>
<div>
  <br />
</div>
   <my-cuentas id="cuentas" usuario="[[usuario]]" on-cuentam="gestionarCuentas"></my-cuentas>
   <my-tarjetas  id="tarjetas" usuario="[[usuario]]" on-cuentam="gestionarCuentas"></my-tarjetas>




  </template>

  <script>
    class MyMybank extends Polymer.Element {
      static get is() { return 'my-mybank'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          usuario: {
                type: String
              }
        };
      }
      gestionarCuentas(e) {


        this.dispatchEvent(new CustomEvent('cuentamd', {detail: {"cuenta":e.detail.cuenta,"pan":e.detail.pan}}));

      }

    }

    window.customElements.define(MyMybank.is, MyMybank);
  </script>
</dom-module>
