
<dom-module id="my-perfil">
  <template>


    <iron-ajax
      auto
      id="cambio"
      url="http://localhost:3000/usuario"
      content-type="application/json"
      method="post"
      body ='{"usuario": "{{usuario}}"}'
      handle-as="json"
      auto=true
      last-response="{{cliente}}"

    ></iron-ajax>



    <div class="col-md-12">
                         <div class="card card-plain">
                             <div class="header">
                                 <h4 class="title">Cambio de contraseña</h4>
                                 <p class="category">{{usuario}}</p>
                             </div>
 <template is="dom-repeat" items="[[cliente]]">
<form>

                             <div class="content table-responsive table-full-width">
                               <table class="table table-hover">
                                 <tfoot>
                                      <tr>
                                      <td><b>[[salida]]</b></td>
                                      <td></td>
                                      </tr>
                                      </tfoot>
                                      <tbody>
                                       <tr>
                                       	<td><b>Nombre :</b></td>
                                       	<td>[[item.nombre]] </td>
                                       </tr>
                                       <tr>
                                       	<td><b>Apellidos :</b></td>
                                       	<td>[[item.apellidos]]</td>
                                       </tr>
                                       <tr>
                                       	<td><b>Email : </b></td>
                                       	<td>[[item.email]]</td>
                                       </tr>
                                       <tr>
                                       	<td><b>Usuario : </b></td>
                                       	<td>[[item.usuario]]</td>
                                       </tr>
                                       <tr>
                                       	<td><b>Nueva contraseña : </b></td>
                                       	<td> <input type="password" id="password1" placeholder="Contraseña" value="{{password1::input}}" name="password1" size="30" maxlength="30"></td>
                                       </tr>
                                       <tr>
                                        	<td><b>Repita Contraseña : </b></td>
                                       	<td><input type="password" id="password2" placeholder="Repita Contraseña" value="{{password2::input}}" name="password2" size="30" maxlength="30"></td>
                                       </tr>

                                   </tbody>
                               </table>

                           </div>
                           </form >
 </template>
 <button class="boton_aceptar"  on-click="cambiocontra">Aceptar</button>


                         </div>
                     </div>





  </template>
  <script>
  class MyPerfil extends Polymer.Element {
    static get is() { return 'my-perfil'; }

    cambiocontra(){
      if (this.password1 == this.password2){
      var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/cambio", false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var nuevoUsuariomongo = {"usuario":this.usuario , "password":this.password1};
      var body = JSON.stringify(nuevoUsuariomongo);
      request.send(body);
      this.respuesta=JSON.parse(request.responseText);
      this.salida= this.respuesta.mensaje;
      }
      else {
      this.salida= "Las contraseñas no coinciden";
      }

    }


  }

  window.customElements.define(MyPerfil.is, MyPerfil);
</script>
</dom-module>
