

<dom-module id="my-seguros">
  <template>
    <style>

    </style>
    <iron-ajax
      auto
      id="seguroslista"
     url="{{comunica}}"
       auto=true
      handle-as="json"
      last-response="{{seguros}}"
      loading="{{cargando}}"
    ></iron-ajax>


    <paper-spinner alt="Cargando lista de seguros..." active="{{cargando}}"></paper-spinner>


    <div class="col-md-12">
                         <div class="card card-plain">
                             <div class="header">
                                 <h4 class="title">Listado de Seguros</h4>
                                 <p class="category">{{usuario}}</p>
                             </div>
                             <div class="content table-responsive table-full-width">
                                 <table class="table table-hover">
                                     <thead>
                                       <th>Tipo de Seguro</th>
                                       <th>Prima actual</th>
                                       <th>Fecha vencimiento</th>

                                     </thead>
                                     <template is="dom-repeat" items="[[seguros]]">
                                     <tbody>
                                     <tr>
                                       <td>
                                         [[item.tipo]]
                                       </td>
                                       <td>
                                         [[item.prima]]
                                       </td>
                                       <td>
                                         [[item.fecha]]
                                       </td>
                                       </tr>
                                   </tbody>
                                   </template>
                                 </table>

                             </div>
                         </div>
                     </div>

  </template>
  <script>
    Polymer({
      is: "my-seguros",

  
    });
  </script>
</dom-module>
