

<dom-module id="my-tarjetasmov">
  <template>

    <iron-ajax
         auto
         id="movimientostar"
         url="http://localhost:3000/tarmov"
         content-type="application/json"
         method="post"
         body ='{"usuario": "{{usuario}}", "pan": "{{pan}}" }'
         handle-as="json"
         auto=true
         last-response="{{recorremotar}}"
         loading="{{cargando}}"
       ></iron-ajax>

    <paper-spinner alt="Cargando movimientos de tarjetas..." active="{{cargando}}"></paper-spinner>



    <div class="col-md-12">
                         <div class="card card-plain">
                             <div class="header">
                                 <h4 class="title">Listado de movimientos de tarjetas</h4>
                                 <p class="category">Usuario: {{usuario}}</p>
                                 <p class="category">Tarjeta: {{pan}}</p>
                             </div>
                             <div class="content table-responsive table-full-width">
                                 <table class="table table-hover">
                                     <thead>
                                       <th>Establecimiento</th>
                                       <th>Importe</th>
                                       <th>Fecha</th>

                                     </thead>
                                     <template is="dom-repeat" items="[[recorremotar]]">
                                     <tbody>
                                     <tr>
                                       <td>
                                         [[item.establecimiento]]
                                       </td>
                                       <td>
                                         [[item.importe]]€
                                       </td>
                                       <td>
                                         [[item.fecha]]
                                       </td>
                                       </tr>
                                   </tbody>
                                   </template>
                                 </table>

                             </div>
                         </div>
                     </div>

    </div>



  </template>
  <script>
    Polymer({
      is: "my-tarjetasmov",


    });
  </script>
</dom-module>
