
<dom-module id="my-tarjetas">
  <template>

    <iron-ajax
      auto
      id="listatar"
      url="http://localhost:3000/tarjetas"
      content-type="application/json"
      method="post"
      body ='{"usuario": "{{usuario}}"}'
      handle-as="json"
      auto=true
      last-response="{{tarjetas}}"
      loading="{{cargando}}"
    ></iron-ajax>

    <paper-spinner alt="Cargando el tarjetas..." active="{{cargando}}"></paper-spinner>


<div class="col-md-12">
                     <div class="card card-plain">
                         <div class="header">
                             <h4 class="title">Listado de tarjetas</h4>
                             <p class="category">Usuario: {{usuario}}</p>
                         </div>

                         <div class="content table-responsive table-full-width">
                             <table class="table table-hover">
                                 <thead>
                                   <th>Tipo</th>
                                   <th>Tarjeta</th>
                                   <th>Límite de crédito</th>

                                 </thead>
                                 <template is="dom-repeat" items="[[tarjetas]]">
                                 <tbody>
                                 <tr>
                                   <td>
                                    <paper-button on-tap="itemTapped">   <a name="tarmov" href="[[rootPath]]tarjetasmov" usuario=[[usuario]]>[[item.tipo]]</a></paper-button>

                                   </td>
                                   <td>
                                     [[item.pan]]
                                   </td>
                                   <td>
                                     [[item.limite]]€
                                   </td>
                                   </tr>
                               </tbody>
                               </template>
                             </table>

                         </div>
                       </div>
                   </div>





  </template>
  <script>
  Polymer({
    is: "my-tarjetas",


    itemTapped: function(oEvent){

  this.dispatchEvent(new CustomEvent('cuentam', {detail: {"pan":oEvent.model.get('item.pan')}}));

}
  });
</script>

</dom-module>
